<div
  class="row"
  style="margin-left: 173px; margin-top:100px; margin-bottom:150px"
>
  {{#each query}}
    <div class="col-md-6">
      <div class="card mb-4" style="width: 400px">
        <img
          src="{{Image}}"
          class="card-img-top img-thumbnail"
          alt="{{NameProduct}}"
          style="height: 250px;"
        />
        <div class="card-body">
          <h5 class="card-title">{{NameProduct}}</h5>
          <p class="card-text">Price: {{Price}} MCTK</p>
          <p class="card-text">Description: {{Description}}</p>
          <button
            class="btn btn-outline-dark rounded-0 px-3 py-1 purchase-button"
            onclick="connectMetamask('{{_id}}','{{Price}}')"
          >Order 🤖</button>
        </div>
      </div>
    </div>
  {{/each}}
</div>

<div>
  <div id="spinner-container" class="spinner-container">
    <div class="spinner-border" role="status">

      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>