<div class="container mt-5 border rounded">
  <div class="row">
    <div class="col" style="width: 800px;">
      <h1
        class="aaabot-heading"
        style="text-align: center; font-family: Arial, sans-serif; color: #555; margin-bottom: 20px;"
      >
        Bots
      </h1>
      <table
        class="table table-bordered"
        style="width: 100%; border-collapse: collapse; margin-bottom: 20px;"
      >
        <thead>
          <tr style="background-color: #f8f8f8; border: 1px solid #ddd;">
            <th
              style="padding: 10px; border: 1px solid #ddd; text-align: left;"
            >NameProduct</th>
            <th
              style="padding: 10px; border: 1px solid #ddd; text-align: left;"
            >Description</th>
            <th
              style="padding: 10px; border: 1px solid #ddd; text-align: left;"
            >Price MCTK</th>
            <th
              style="padding: 10px; border: 1px solid #ddd; text-align: left;"
            >Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each data}}
            <tr>
              <td
                class="aaabot-product"
                style="padding: 10px; border: 1px solid #ddd;"
              >{{NameProduct}}</td>
              <td style="padding: 10px; border: 1px solid #ddd;">

                <textarea
                  id="aaabot-description-{{@index}}"
                  class="aaabot-textarea"
                  name="Description"
                  rows="4"
                  cols="50"
                  style="width: 100%; padding: 8px; margin-top: 5px; height: 30px"
                >{{Description}}</textarea><br />
              </td>
              <td style="padding: 10px; border: 1px solid #ddd;">
                <input
                  type="number"
                  id="aaabot-price-{{@index}}"
                  class="aaabot-input"
                  name="Price"
                  value="{{Price}}"
                  style="width: 60%; padding: 8px; margin-top: 5px;"
                />

              </td>
              <td style="padding: 10px; border: 1px solid #ddd;">
                <button
                  class="aaabot-button"
                  onclick="updateBot('{{_id}}', '{{@index}}')"
                >Submit</button>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col" style="width: 800px;">
      <h1
        class="aaabot-heading"
        style="text-align: center; font-family: Arial, sans-serif; color: #555; margin-bottom: 20px;"
      >
        NFTs
      </h1>
      <table
        class="table table-bordered"
        style="width: 100%; border-collapse: collapse; margin-bottom: 20px;"
      >
        <thead>
          <tr style="background-color: #f8f8f8; border: 1px solid #ddd;">
            {{! <th
          style="padding: 10px; border: 1px solid #ddd; text-align: left;"
        >Smart Contract</th> }}
            <th
              style="padding: 10px; border: 1px solid #ddd; text-align: left;"
            >Kind NFTs</th>
            <th
              style="padding: 10px; border: 1px solid #ddd; text-align: left;"
            >Price MKTC</th>
            <th
              style="padding: 10px; border: 1px solid #ddd; text-align: left;"
            >Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each qy}}
            <tr>
              {{!-- <td
            class="aaanft-product"
            style="padding: 10px; border: 1px solid #ddd;"
          > {{SmartContact}}</td> --}}
              <td
                class="aaanft-product"
                style="padding: 10px; border: 1px solid #ddd;"
              >{{NameProduct}}</td>
              <td style="padding: 10px; border: 1px solid #ddd; width: 20%;">
                <input
                  type="number"
                  id="aaanft-price-{{@index}}"
                  class="aaanft-input"
                  name="Price"
                  value="{{Price}}"
                  style="width: 100%; padding: 8px; margin-top: 5px;"
                />
              </td>
              <td style="padding: 10px; border: 1px solid #ddd;">
                <button
                  class="aaabot-button"
                  onclick="updateNFT('{{_id}}', '{{@index}}')"
                >Submit</button>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="container mt-5 border rounded">
  <div class="card mb-4 border rounded" style="margin-top:30px">
    <h1
      class="text-center aaabot-heading"
      style="font-family: Arial, sans-serif; color: #555; margin-bottom: 20px;"
    >
      Control Panel NFTs
    </h1>
    <div class="card-body row">

      <div class="form-group col-sm">
        <label>WordLegendNFT_one1</label>
        <select class="form-control" id="mintNft" name="mintNft" required>
          <option
            value="https://ipfs.io/ipfs/QmU2JJNVqUEi8TQM7Xruo1Lw9zezLRsKeLb94T7xczcw9N"
          >Logo Word Legend</option>
          <option
            value="https://ipfs.io/ipfs/QmVLRHJnyLLN7VKjkot2ihdgZVdo3iBemLW1XGZZS8uH7Z"
          >FIFA Card - Alessandro Nesta</option>
          <option
            value="https://ipfs.io/ipfs/QmViqf5Fuf6f7rbobpseXG7ocStymya2puA9s7bTRQRmRR"
          >FIFA Card - Edwin van der Sar</option>
          <option
            value="https://ipfs.io/ipfs/QmcfAcofiNE1d3wxiWDbGkX8Nshsu7i6LvRJXC14TVykCj"
          >FIFA Card - Fabio Cannavaro</option>
          <option
            value="https://ipfs.io/ipfs/QmWEDPvWEow3FEmJsgRRipbmqCeCVMtP6mnVDQwDdZGeR5"
          >FIFA Card - Frank Rijkaard</option>
          <option
            value="https://ipfs.io/ipfs/QmTQrdReQHAJDggtYjpwLcB5MY2Cg1hddxQC3wy4CW3zj4"
          >FIFA Card - Franz Beckenbauer</option>
          <option
            value="https://ipfs.io/ipfs/QmXY2akezJ6QsVqfqbyXzhgaobkw2cShfD4HfRmHcXtDAG"
          >FIFA Card - Jens Lehmann</option>
          <option
            value="https://ipfs.io/ipfs/QmXdvywRjzEYWgpbaQGznRPtTmgpSTQH8pafuHs2JoSDpy"
          >FIFA Card - Marco van Basten</option>
          <option
            value="https://ipfs.io/ipfs/QmUEEWz69Un4JwDnmb4xntQXmYRVPhS1q3LcvaswYjPrLf"
          >FIFA Card - Lothar Matthäus</option>
        </select>
        <br />
        <button
          class="aaabot-button btn btn-success"
          type="button"
          onclick="mintNft1()"
        >Mint NFT</button>
      </div>

      <div class="form-group col-sm">
        <label>WordLegendNFT_two2</label>
        <select class="form-control" id="mintNft" name="mintNft" required>
          <option
            value="https://ipfs.io/ipfs/QmZwn4E1wrmCgkvxLfWSLyV8yhckRW2GJf4w79JY9JnNy2"
          >FIFA Card - Paolo Maldini</option>
          <option
            value="https://ipfs.io/ipfs/QmbA2TrBfDZGfvHJBy9p5D2znLfXrPyncktjykgjYQff9n"
          >FIFA Card - Patrick Kluivert</option>
          <option
            value="https://ipfs.io/ipfs/QmeLjnmwhZhpRkwdAuA95NUiZPsoKcFULNTtiMArifRRsr"
          >FIFA Card - Patrick Vieira</option>
          <option
            value="https://ipfs.io/ipfs/QmPuMaqEnZJcszXsAJDckMB17nerKvLnk8t5zNRDEUyvFs"
          >FIFA Card - Pelé</option>
          <option
            value="https://ipfs.io/ipfs/QmZPcboRpJwDLA8Jm1yT2CDohaR63jH7sX4uuiJXbu32kX"
          >FIFA Card - Rio Ferdinand</option>
          <option
            value="https://ipfs.io/ipfs/QmPWiZUqnsAgtmTR1KVjmfiGGxqQXRTXkkPCtKb5r5VYzp"
          >FIFA Card - Roberto Carlos</option>
          <option
            value="https://ipfs.io/ipfs/QmSexTqm2NRF6Y3iUPnRztTNRU67KNM9cjNkK6BgqU8rRK"
          >FIFA Card - Ruud Gullit</option>
          <option
            value="https://ipfs.io/ipfs/QmaqqkwCMFgjziKyWtrocCFKXwFoCuVd1izx2LkiCHYdBW"
          >FIFA Card - Ruud van Nistelrooy</option>
          <option
            value="https://ipfs.io/ipfs/QmVyHQhgypw9t4AXFmZQroZYKa4RvQ5fcMYMTETv6m5dj3"
          >FIFA Card - Ryan Giggs</option>
        </select>
        <br />
        <button
          class="aaabot-button btn btn-success"
          type="button"
          onclick="mintNft2()"
        >Mint NFT</button>
      </div>

      <div class="form-group col-sm">
        <label>WordBestNFT_one1</label>
        <select class="form-control" id="mintNft" name="mintNft" required>
          <option
            value="https://ipfs.io/ipfs/QmWW7ELxC5yqbNWVYYum6d5dwmb39dis3u7oDayoLnraq2"
          >Logo Word Best</option>
          <option
            value="https://ipfs.io/ipfs/QmXi4wzYjGfqzi5AJWaD8sts2SejdBVT6o8a5MrR4D3Y3y"
          >FIFA Card - Andrea Pirlo</option>
          <option
            value="https://ipfs.io/ipfs/QmenjW7gkwCKVUkzCes8Wdm76Wb9WtXmc8nt3M8nYdRZyj"
          >FIFA Card - Arjen Robben</option>
          <option
            value="https://ipfs.io/ipfs/QmdcGfCLgfLCxow2aBBPh9RaAmcJXmXxY8xrXfz2DQ7Zyz"
          >FIFA Card - Iker Casillas</option>
          <option
            value="https://ipfs.io/ipfs/QmeHdjAMwpdjTcuZZJfivHPLbsVmYoBHfbzxBgAVp3jZAL"
          >FIFA Card - Cristiano Ronaldo</option>
          <option
            value="https://ipfs.io/ipfs/QmbUFmpnLAojVc7PBBEdc7NzgkMLCHhxSbBgATUzoLL9DJ"
          >FIFA Card - Dani Alves</option>
          <option
            value="https://ipfs.io/ipfs/QmTMvTND9DoeweYbukHk7oibRw5tWRnqwXrfrtpPi5rioS"
          >FIFA Card - Fernando Torres</option>
          <option
            value="https://ipfs.io/ipfs/QmVuevp7EuiEYrfDhwGA97ZvDbrFgYmP9pzFuY41Uo854R"
          >FIFA Card - Gianluigi Buffon</option>
          <option
            value="https://ipfs.io/ipfs/QmNpZb8VaUovFvaTup8cqBd5mbBL7Wr9NxiXabASAA76FV"
          >FIFA Card - Andrés Iniesta</option>
          <option
            value="https://ipfs.io/ipfs/QmYa3eQf3dLFiHKEcCucWbWt8ECK6Y9uCERCmWWGZEhvaz"
          >FIFA Card - Kaká</option>
        </select>
        <br />
        <button
          class="aaabot-button btn btn-success"
          type="button"
          onclick="mintNft3()"
        >Mint NFT</button>
      </div>

      <div class="form-group col-sm">
        <label>WordBestNFT_two2</label>
        <select class="form-control" id="mintNft" name="mintNft" required>
          <option
            value="https://ipfs.io/ipfs/QmWN3kAhbDwtjad7TxEJ3LvQg71cG73J1y6TDgGB9WT59H"
          >FIFA Card - Lionel Messi</option>
          <option
            value="https://ipfs.io/ipfs/QmQcFBxm5L4chRMxpDA2y1sT5PQ4WaF1jiuAhhLy5rKXAc"
          >FIFA Card - Luka Modrić</option>
          <option
            value="https://ipfs.io/ipfs/QmPa9VgBzLNkruoGxqPRWvetqMQnTTbVj2CT6BYV4htzs6"
          >FIFA Card - Manuel Neuer</option>
          <option
            value="https://ipfs.io/ipfs/QmfHHTrZ2mnqLCJP7UNqtACXdzuoP2yUxYKkgksq4eTT6v"
          >FIFA Card - Patrice Evra</option>
          <option
            value="https://ipfs.io/ipfs/Qma2guyqqMgGDwz92jphbd4y7Aefbc9edkfUv4f5dbXGsc"
          >FIFA Card - Philipp Lahm</option>
          <option
            value="https://ipfs.io/ipfs/QmTcz4QhWWYo9Yus5eHy94Ug3zFVnVtb4UCzioupseXuj3"
          >FIFA Card - Gerard Piqué</option>
          <option
            value="https://ipfs.io/ipfs/Qmbmw9vut6m3mFWhUqBcytoyrZ5jAAFEQy2zJufmPfH9TJ"
          >FIFA Card - Ronaldinho</option>
          <option
            value="https://ipfs.io/ipfs/QmVzQSkyLk55BMuZWEH9Y6vyJHqWk6ZdAcnZt2ersxuhpd"
          >FIFA Card - Samuel Eto'o</option>
          <option
            value="https://ipfs.io/ipfs/QmdyoJMcdPKVYnaFbyeuD3TjAWkKxKYbXQ5nye4qmsZYU6"
          >FIFA Card - Sergio Ramos</option>
          <option
            value="https://ipfs.io/ipfs/QmUrhJw5r1fuy8frsKM3o7278XhC1ttjeME3C1eSnSdNq5"
          >FIFA Card - Thierry Henry</option>
        </select>
        <br />
        <button
          class="aaabot-button btn btn-success"
          type="button"
          onclick="mintNft4()"
        >Mint NFT</button>
      </div>

    </div>
  </div>
  <h1
    class="text-center aaabot-heading"
    style="font-family: Arial, sans-serif; color: #555; margin-bottom: 20px;"
  >
    Control Panel Token MTKC
  </h1>
  <div class="row justify-content-center">
    <div class="col-md-6" style="max-width: 400px;">
      <div class="card mb-4 border rounded">
        <div class="card-body">
          <h5 class="card-title">Smart Contract State 🔍 </h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong
              >SmartContact:</strong>0xF00aa648C743a0dfF310c62EaCe3dF9757A14Ef8</li>
            <li class="list-group-item"><strong
              >Ownership:</strong>{{owner}}</li>
            <li class="list-group-item"><strong>
                Name Token:</strong>{{name}}</li>
            <li class="list-group-item"><strong>
                Symbol:</strong>{{symbol}}</li>
            <li class="list-group-item"><strong
              >totalSupply:</strong>{{formattedTotalSupply}}
              MCTK</li>
            <li class="list-group-item"><strong>Buy Tax:</strong>
              {{buyTax}}
              %</li>
            <li class="list-group-item"><strong>Sell Tax:</strong>
              {{sellTax}}
              %</li>
            <li class="list-group-item"><strong>Sell Locked:</strong>
              {{sellLocked}}</li>

          </ul>
        </div>
      </div>
      <div class="card mb-4 border rounded">
        <div class="card-body">
          <h5 class="card-title text-center">Volume Control Token MCTK</h5>
          <form>
            <div class="form-group">
              <label for="transactions">Number of transactions:</label>
              <input
                id="transactions"
                name="transactions"
                type="number"
                class="form-control"
                required
              />
            </div>
            <div class="form-group row">
              <label>Price MCTK</label>
              <br />
              <div class="col-sm-4">
                <input
                  id="pricemin"
                  name="pricemin"
                  type="number"
                  class="form-control"
                  placeholder="Min"
                  required
                />
              </div>
              <div class="col-sm-4">
                <input
                  id="pricemax"
                  name="pricemax"
                  type="number"
                  class="form-control"
                  placeholder="Max"
                  required
                />
              </div>
            </div>

            <div class="form-group">
              <label for="transactionTime">Transaction Time:</label>
              <select
                id="transactionTime"
                name="transactionTime"
                class="form-control"
                required
              >
                <option value="1000">1 second</option>
                <option value="5000">5 seconds</option>
                <option value="10000">10 seconds</option>
                <option value="30000">30 seconds</option>
                <option value="60000">1 minute</option>
                <option value="300000">5 minutes</option>
                <option value="600000">10 minutes</option>
                <option value="1800000">30 minutes</option>
                <option value="3600000">60 minutes</option>
              </select>
            </div>
            <div class="form-group">
              <label for="wallet">Number of wallets:</label>
              <select id="wallet" name="wallet" class="form-control" required>
                <option value="1">1 wallet</option>
                <option value="2">2 wallets</option>
                <option value="3">3 wallets</option>
                <option value="4">4 wallets</option>
                <option value="5">5 wallets</option>
                <option value="6">6 wallets</option>
                <option value="7">7 wallets</option>
                <option value="8">8 wallets</option>
                <option value="9">9 wallets</option>
                <option value="10">10 wallets</option>
              </select>
            </div>
            <button
              class="btn btn-success aaabot-button"
              type="button"
              onclick="volumeFake()"
            >Run</button>
          </form>
        </div>
      </div>

    </div>

    <div class="col-md-6" style="max-width: 400px;">
      <div class="card mb-4 border rounded">
        <div class="card-body">
          <h5 class="card-title text-center">Mint Token MCTK</h5>
          <div class="form-group">
            <label for="MintAmount">Amount</label>
            <input
              id="MintAmount"
              name="MintAmount"
              type="number"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="MintWallet">Mint Wallets</label>
            <select
              id="MintWallet"
              name="MintWallet"
              class="form-control"
              required
            >
              <option value="0x9B555039084f8feCB75AeF928B7ccd2b15A84575">Owner
                wallet</option>
              <option value="0xb687ed03daaAf2870C9ADdaaa82276feBce87Eba">Wallet
                2</option>
              <option value="0xd716140fd7C0259611760AD4a68191777C3317E5">Wallet
                3</option>
            </select>
          </div>
          <button
            class="aaabot-button btn btn-success"
            type="button"
            onclick="mintToken()"
          >Mint Tokens</button>
        </div>
      </div>

      <div class="card mb-4 border rounded">
        <div class="card-body">
          <h5 class="card-title text-center">Burn Token MCTK</h5>
          <div class="form-group">
            <label for="BurnAmount">Amount</label>
            <input
              id="BurnAmount"
              name="BurnAmount"
              type="number"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="BurnWallet">Burn Wallets</label>
            <select
              id="BurnWallet"
              name="BurnWallet"
              class="form-control"
              required
            >
              <option value="0x9B555039084f8feCB75AeF928B7ccd2b15A84575">Owner
                wallet</option>
              <option value="0xb687ed03daaAf2870C9ADdaaa82276feBce87Eba">Wallet
                2</option>
              <option value="0xd716140fd7C0259611760AD4a68191777C3317E5">Wallet
                3</option>
            </select>
          </div>
          <button
            class="aaabot-button btn btn-success"
            type="button"
            onclick="burnToken()"
          >Burn Tokens</button>
        </div>
      </div>
      <div
        id="result"
        class="mt-4 p-3 bg-light border rounded"
        style="width: 100%;"
      ></div>
    </div>

    <div class="col-md-6" style="max-width: 400px;">

      <div class="card border rounded">
        <div class="card-body">
          <h5 class="text-center card-title">Renounce Ownership</h5>

          <button
            type="button"
            class="aaabot-button btn btn-success"
            onclick="renounceOwnership()"
          >Renounce</button>
        </div>
      </div>
      <br />
      <div class="card border rounded">
        <div class="card-body">
          <h5 class="card-title text-center">Call Back Ownership</h5>
          <form>
            <button
              type="button"
              class="aaabot-button btn btn-success"
              onclick="callBackOwnership()"
            >Call Back </button>
          </form>
        </div>
      </div>
      <br />
      <div class="card border rounded">
        <div class="card-body">
          <h5 class="card-title text-center">Control Sell</h5>
          <div class="text-center">
            <button
              type="button"
              class="aaabot-button btn btn-success"
              onclick="unlockSell()"
            >Unlock Sell</button>
            <button
              type="button"
              class="aaabot-button btn btn-danger"
              onclick="lockSell()"
            >Lock Sell</button>
          </div>
        </div>
      </div>
      <br />
      <div class="card mb-4 border rounded">
        <div class="card-body">
          <h5 class="card-title text-center">Set Tax </h5>
          <form>
            <div class="form-group row mb-2">
              <label for="tax-buy" class="col-sm-4 col-form-label">Tax Buy ({{buyTax}}%)</label>
              <div class="col-sm-8">
                <input
                  type="number"
                  class="form-control form-control-sm"
                  id="tax-buy"
                  placeholder="Enter tax buy rate"
                />
              </div>
            </div>
            <div class="form-group row mb-2">
              <label for="tax-sell" class="col-sm-4 col-form-label">Tax Sell ({{sellTax}}%)</label>
              <div class="col-sm-8">
                <input
                  type="number"
                  class="form-control form-control-sm"
                  id="tax-sell"
                  placeholder="Enter tax sell rate"
                />
              </div>
            </div>
            <button
              type="button"
              class="aaabot-button btn btn-success"
              onclick="settTax()"
            >Set Tax</button>
          </form>
        </div>
      </div>

      <div class="card border rounded">
        <div class="card-body">
          <h5 class="card-title text-center">Staking Percent</h5>
          <div class="text-center">
            <form>
              {{#each staking}}
                <input
                  type="text"
                  placeholder="{{percent}} %"
                  class="form-control form-control-sm"
                  style="width: 30%;"
                  id="sk"
                  name="sk"
                  required
                />
                <br />
                <button
                  type="button"
                  class="aaabot-button btn btn-danger"
                  onclick="ski('{{_id}}')"
                >Set Percent</button>
              {{/each}}
            </form>

          </div>
        </div>
      </div>
      {{! <div class="card border rounded">
        <div class="card-body">
          <h5 class="card-title text-center">Dump 😈</h5>
          <form>
            <button
              type="button"
              class="aaabot-button btn btn-danger"
              onclick="dump()"
            >Call 😈 </button>
          </form>
        </div>
      </div> }}
      {{! 👼 }}

    </div>

  </div>

</div>

<div id="nftpending" class="modal" style="display: none;">
  <div class="modal-content">
    <div class="spinnerr-container">
      <div class="spinnerr"></div>
    </div>
    <p> Run volume control intervention ... Please wait.</p>
    <button
      id="pauseButton"
      class="btn btn-danger"
      style="width: 100px; margin-left: 180px"
      onclick="unpause()"
    >Stop</button>
  </div>
</div>

<div id="Mint" class="modal" style="display: none;">
  <div class="modal-content">
    <div class="spinnerr-container">
      <div class="spinnerr"></div>
    </div>
    <p> Run Pending... Please wait.</p>
  </div>
</div>

<!-- index.html -->