
<div class="mt-5 container-fluid" style="color: rgb(19, 20, 21); font-family: Optima;">
  <h1 class="text-center mb-5">User management</h1>
  <div class="table-responsive">
    <table class="table table-hover border border-dark" style="color: rgb(18, 12, 5);">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
        <tr>
          <td class="align-middle">
            <img src="/{{Image}}" class="img-fluid rounded-circle" style="height: 40px; width: 40px;" />
          </td>
          <td class="align-middle">{{UserName}}</td>
          <td class="align-middle">{{Email}}</td>
          <td class="align-middle">
            <select class="form-select" onchange="submitChangeRole(this, '{{_id}}')">
              {{#each ../Role}}
              <option value="{{_id}}" {{#ifEqual _id ../Role._id}}selected{{/ifEqual}}>{{NameRole}}</option>
              {{/each}}
            </select>
          </td>
          <td class="align-middle text-center">
            <div class="d-flex justify-content-center">
              <button class="btn btn-primary mx-1"><i class="fa fa-pencil-square" aria-hidden="true"></i></button>
              <button type="submit" class="btn btn-primary mx-1" onclick="deleteUser('{{_id}}')">Delete</button>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>


<script>
    function submitChangeRole(e, id) {
    const selectRoleId = e.value;
    const userId = id;

    axios.put(`/admin/update/${userId}`, { Role: selectRoleId })
      .then((res) => {
        e.style.background = "#84dd89"
      })
      .catch((err) => {
        e.style.background = "rgb(255,86,86)"
      })
      .finally(() => {
        setTimeout(function () {
          e.style.background = "";
        }, 2000);
      })
  }


function deleteUser(id) {
  axios
    .delete(`/admin/delete/${id}`)
    .then((result) => {
      window.location.reload();
    })
    .catch((error) => {
      alert("that bai");
    });
}




</script>