<div class="container mt-5">
  <h1>Orders</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">UserName</th>
        <th scope="col">Bot</th>
        <th scope="col">NFTs</th>
      </tr>
    </thead>
    <tbody>
      {{#each qy}}
        <tr>
          <td class="align-middle">
            <img
              src="/{{User.Image}}"
              class="img-fluid rounded-circle"
              style="height: 40px; width: 40px;"
            />
          </td>
          <td>{{User.UserName}}</td>
          <td>
            {{#if Bot}}
              NameBot:
              {{Bot.NameProduct}}<br />
              Price:
              {{Bot.Price}}<br />
              Created At:
              {{formatDate createdAt}}
            {{else}}
              No Bot Order
            {{/if}}
          </td>
          <td>
            {{#if Nft}}
              NFT:
              {{Nft.NameProduct}}<br />
              Price:
              {{Nft.Price}}<br />
              TokenId:
              {{TokenId}}<br />
              SmartContract:
              {{SmartContract}}<br />
              Created At:
              {{formatDate createdAt}}
            {{else}}
              No NFT Order
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div class="container mt-5">
  <h2 class="mb-4">Staking </h2>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Username</th>
        <th scope="col">Amount Staking</th>
        <th scope="col">Profit After Staking</th>
        <th scope="col">Time Staking</th>
        <th scope="col">Transaction txHash</th>
        <th scope="col">Staking Date</th>
      </tr>
    </thead>
    <tbody>
      {{#each staking}}
        <tr>
          <td class="align-middle">
            <img
              src="/{{data.user.Image}}"
              class="img-fluid rounded-circle"
              style="height: 40px; width: 40px;"
            />
          </td>
          <td>{{data.user.UserName}}</td>
          <td>{{data.price}} MKTC</td>
          <td>{{lai}} MKTC</td>
          <td>{{data.day}} Day</td>
          {{#if data.txHash}}
            <td><a href="https://sepolia.etherscan.io/tx/{{data.txHash}}">Check
                Percent
              </a></td>
          {{else}}
            <td><p>wait enough time to receive Token</p></td>
          {{/if}}
          <td>{{formatDate data.createdAt}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>